.banner {
    height: 56vh;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: relative;
}

.banner::before {
    content: '';
    /* background: linear-gradient(to top, black, transparent); */
    background: linear-gradient(to top, black 0%, transparent 50%);
    position: absolute;
    left: 0;
    height: 56vh;
    width: 100%;
}


.banner-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    max-width: 500px;
    max-height: 500px;
    /* 또는 90%, 혹은 px 단위 */
    margin: 0;
    padding-left: 5rem;
    text-align: justify;
    
}

.banner-text-area > * {
    z-index: 2;
}

@media (max-width: 768px) {
    .banner-text-area {
        width: 90%;
        padding: 1rem;
    }
}


/* test */
.banner-video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
  }
  
  .banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .banner-overlay {
    position: relative;
    z-index: 1;
    padding: 5rem;
    background: rgba(0, 0, 0, 0.4); /* 텍스트 잘 보이게 어둡게 처리 */
  }
  