.box{
    border:10px solid black;
    width:500px;
    margin-top:20px;
}

.item-img{
    width:400px;
}
.main{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 20px;
    margin-top:50px;
}

.win{
    border: 10px solid green;
    color:green; 
}

.lose{
    border: 10px solid red;
    color: red;
}

.tie{
    border:10px solid grey;
    color:black;
}


.reset{
    margin-top:20px;
}
/* body와 html의 기본 마진과 패딩 제거 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 스크롤 방지 */
}

/* 배경을 꽉 채우기 */
.background {
    /* position: fixed; */
    /* top: 0;
    left: 0; */
    width: 100vw;
    height: 100vh;
    text-align: center;
    font-family: cursive;
}

/* 흐린 배경 */
.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1612404834746-1ffba06de133?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjB8fG1hcmlvfGVufDB8fDB8fHwy');
    background-size:70%;
    transform: scale(0.7); 
    transform: translate(-10%, 0%);
    background-repeat: no-repeat;
    background-size: contain; 
    z-index: -1; /* 배경을 가장 뒤로 */
}

/* 내용 */
.container {
    position: relative;
    z-index: 10;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.custom-button:nth-child(1){
    padding:10px;
    color: rgb(226, 233, 231);
    background-color: rgb(50, 131, 108);
    font-weight:bolder;
    border:none;
    font-size: 1.5rem;
}
.custom-button:nth-child(2){
    padding:10px;
    color:rgb(226, 233, 231);
    background-color: rgb(66, 66, 109);
    border:none;
    font-size: 1.5rem;
}
.custom-button:nth-child(3){
    padding:10px;
    color:rgb(226, 233, 231);
    background-color: rgb(121, 45, 111);
    border:none;
    font-size: 1.5rem;
}

.custom-button:focus{
    background-color: rgb(53, 16, 51);

}

.reset-button{
    background-color: rgb(154, 192, 161);
    color:rgb(255, 255, 255);
    border:none;
    padding:15px;
    margin-top:30px;
    border-radius: 50%;
    font-size: 1.5rem;
}


.headline{
    color: rgb(0, 38, 255);
    animation-name: letter-animation;
    animation-duration: 5s;
    font-size: 80px;
    padding-bottom: 2rem;
    animation-iteration-count: infinite;
  }
  .running {
    animation-play-state: running;
  }

  .paused {
    animation-play-state: paused;
  }
  
  @keyframes letter-animation {
    0%   {color: red;}
    25%  {color: rgb(209, 209, 179);}
    50%  {color: blue;}
    100% {color: green;}
  }

  @media (max-width: 1200px) {
    .background-blur {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: contain; /* 배경을 줄이면서 비율 유지 */
        background-position: center;
        transform: scale(0.3) translate(-150%, -150%);
        filter: blur(8px); /* 블러 유지 */
        z-index: -1;
    }
}

