html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw; 
  width: 100dvw;
  max-height: 100%;
  overflow-x: hidden;
  /* 가로 스크롤 제거 */
  /* overflow-y는 기본값 auto 그대로 두기 */
  background-color: black;
}

* {
  box-sizing: border-box;
}

.spinner-area {
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20dvh;
}